<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	  
    <title>NCapture XLSX converter</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>NCapture to Excel</h1>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
      <p>File to convert: <input type="file" name="input_file"></p>
      <p>(*** if the file is big (20 MB or more), zip/compress it before uploading ****)
      </p>
      <input type="submit" name="submit" value="Send">
    </form>

    </script>
  </body>
</html>
